/* box bg */
.bg-a{
  background-color: $jd-color-a;
}
.bg-a-v{
  background-color: lighten($jd-color-a, 40%);
}

.bg-b{
  background-color: $jd-color-b;
}
.bg-b-v{
  background-color: lighten($jd-color-b, 40%);
}

.bg-c{
  background-color: $jd-color-c;
}
.bg-c-v{
  background-color: lighten($jd-color-c, 20%);
}

.bg-f{
  background-color: $jd-color-f;
}
.bg-f-v{
  background-color: lighten($jd-color-f, 15%);
}

.bg-g{
  background-color: $jd-color-g;
}
.bg-g-v{
  background-color: lighten($jd-color-g, 20%);
}

.bg-h{
  background-color: $jd-color-h;
}
.bg-h-v{
  background-color: lighten($jd-color-h, 20%);
}

.bg-i{
  background-color: darken($jd-color-i, 20%);
}
.bg-i-v{
  background-color: $jd-color-i;
}

.bg-j{
  background-color: darken($jd-color-j, 20%);
}
.bg-j-v{
  background-color:$jd-color-j;
}

.bg-k{
  background-color: darken($jd-color-k, 20%);
}
.bg-k-v{
  background-color: $jd-color-k;
}

.bg-l{
  background-color: $jd-color-l;
}
.bg-l-v{
  background-color: lighten($jd-color-l, 15%);
}
