<script type="text/ng-template" id="add-edit-city.html">
    <form method="post" role="form" ng-submit="saveCity()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times</span></button>
            <h4 class="modal-title text-left">{{cityCrudTitle}}</h4>
        </div>
        <div class="modal-body">
            <div ng-if="successMessage" message message-class="alert alert-success" alert="City successfully created, add another below"></div>
            <div ng-if="error" message message-class="alert alert-danger" alert="{{error}}"></div>
            <div class="row jd-div-margin-5">
                <div class="form-group">
                    <label for='name' class='col-md-3'>Name<i class="fa fa-asterisk jd-required"></i></label>
                    <div class="col-md-9">
                        <input type="text" id="name" required class="form-control input-sm" ng-model="city.name">
                    </div>
                </div>
            </div>
            <div class="row jd-div-margin-5">
                <div class="form-group">
                    <label for='shortName' class='col-md-3'>Short Name</label>
                    <div class="col-md-9">
                        <input type="text" id="shortName" class="form-control input-sm" ng-model="city.shortName">
                    </div>
                </div>
            </div>
            <div class="row jd-div-margin-5">
                <div class="form-group">
                    <label for='province_id' class='col-md-3'>Province</label>
                    <div class="col-md-9">
                        <select id="province"  ng-model="city.province_id" class="form-control input-sm">
                            <option ng-repeat="p in provinces" value="{{p.id}}">{{p.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row jd-div-margin-5">
                <div class="form-group">
                    <label for='description' class='col-md-3'>Description</i></label>
                    <div class="col-md-9">
                        <textarea rows="2" cols="80" id="description" class="form-control input-sm" ng-model="city.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12 text-right">
                <button class="btn btn-sm btn-warning" type="button" ng-click="cancel()">
                    <i class="fa fa-arrow-circle-o-left""></i>&nbsp;Exit
                </button>
                <button class="btn btn-sm btn-success">
                    <i ng-if="!saving" class="fa fa-save">&nbsp;</i>
                    <span ng-if="saving" loading loading-message="{{savingMessage}}"></span>
                    <span ng-if="!saving">{{cityCrudButton}}</span>
                </button>
            </div>
        </div>
    </form>
</script>
