<div page-header page-title="System Setup"></div>
<div class="row">
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="setup/data-imports">
                <div class="count bg-k"><h4><i class="fa fa-arrow-circle-down"></i></h4></div>
                <div class="title bg-k-v text-w"><h4>Data Imports</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="setup/data">
                <div class="count bg-f"><h4><i class="fa fa-database"></i></h4></div>
                <div class="title bg-f-v text-w"><h4>Define Data</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="/departments">
                <div class="count bg-g"><h4><i class="fa fa-list-alt"></i></h4></div>
                <div class="title bg-g-v text-w"><h4>Departments</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="/setup/mailing">
                <div class="count bg-l"><h4><i class="fa fa-envelope"></i></h4></div>
                <div class="title bg-l-v text-w"><h4>Mailing</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="/projects">
                <div class="count bg-k"><h4><i class="fa fa-briefcase"></i></h4></div>
                <div class="title bg-k-v text-w"><h4>Projects</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="/setup/modules">
                <div class="count bg-f"><h4>{{chmsModules.length}}</h4></div>
                <div class="title bg-f-v text-w"><h4>Modules</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="setup/security">
                <div class="count bg-g"><h4><i class="fa fa-lock text-w"></i></h4></div>
                <div class="title bg-g-v text-w"><h4>Security</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 jd-margin-top">
        <div class="box-count">
            <a href="/users">
                <div class="count bg-l"><h4><i class="fa fa-user-plus"></i></h4></div>
                <div class="title bg-l-v text-w"><h4>Users</h4></div>
            </a>
        </div>
    </div>
</div>
