<div class="row jd-margin-top">
    <div class="col-md-6">
        <!--Departments-->
        <div class="col-md-12">
            <i class="fa fa-group"></i>&nbsp;&nbsp;<span class="jd-caption">Departments</span>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Name:</div>
            <div class="col-md-6 jd-text text-b">Name</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Date Joined:</div>
            <div class="col-md-6 jd-text text-b">Date</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Role:</div>
            <div class="col-md-6 jd-text text-b">My Role:</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Attendance:</div>
            <div class="col-md-6 jd-text text-b">100%</div>
        </div>
    </div>
    <div class="col-md-6">
        <!--Projects-->
        <div class="col-md-12">
            <i class="fa fa-briefcase"></i>&nbsp;&nbsp;<span class="jd-caption">Projects</span>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Title:</div>
            <div class="col-md-6 jd-text text-b">Title</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Start Date:</div>
            <div class="col-md-6 jd-text text-b">Date</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">End Date:</div>
            <div class="col-md-6 jd-text text-b">Title</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Description:</div>
            <div class="col-md-6 jd-text text-b">Description</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Role:</div>
            <div class="col-md-6 jd-text text-b">My Role</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Attendance:</div>
            <div class="col-md-6 jd-text text-b">100%</div>
        </div>
    </div>
</div>
