<div class="row jd-margin-top">
    <div class="col-md-12">
        <!--INFO-->
        <div class="col-md-12">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<span class="jd-caption">Info</span>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Family Name:</div>
            <div class="col-md-6 jd-text text-b">Date</div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 jd-title text-b">Family Role:</div>
            <div class="col-md-6 jd-text text-b">My Role</div>
        </div>
    </div>
</div>
<div class="row jd-margin-top">
    <div class="col-md-12">
        <!--Zones-->
        <div class="col-md-12">
            <i class="fa fa-group"></i>&nbsp;&nbsp;<span class="jd-caption">Family Members</span>
        </div>
    </div>
</div>
