<div page-header page-title="CHMS Membership"></div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box-count">
            <a href="members/members">
                <div class="count bg-k"><span class="jd-badge-default">{{chmsMembership.length}}</span></div>
                <div class="title bg-k-v text-w"><h4>Members</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="box-count">
            <a href="/families">
                <div class="count bg-f"><span class="jd-badge-default">{{chmsFamilies.length}}</span></div>
                <div class="title bg-f-v text-w"><h4>Families</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box-count">
                <a href="/groups">
                    <div class="count bg-g"><span class="jd-badge-default">{{chmsGroups.length}}</span></div>
                    <div class="title bg-g-v text-w"><h4>Cell Groups</h4></div>
                </a>
            </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="box-count">
                <a href="/zones">
                    <div class="count bg-l"><span class="jd-badge-default">{{chmsZones.length}}</span></div>
                    <div class="title bg-l-v text-w"><h4>Zones</h4></div>
                </a>
            </div>
    </div>
</div>
<div class="row jd-margin-top">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box-count">
            <a href="/ministries">
                <div class="count bg-k"><span class="jd-badge-default">8</span></div>
                <div class="title bg-k-v text-w"><h4>Ministries</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box-count">
            <a href="/members/visitors">
                <div class="count bg-f"><span class="jd-badge-default">100</span></div>
                <div class="title bg-f-v text-w"><h4>Visitors</h4></div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box-count">
           <a href="/members/youth">
               <div class="count bg-g"><span class="jd-badge-default">10</span></div>
               <div class="title bg-g-v text-w"><h4>Youth</h4></div>
           </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box-count">
            <a href="/members/sunday-school">
                <div class="count bg-l"><span class="jd-badge-default">0</span></div>
                <div class="title bg-l-v text-w"><h4>Sunday School</h4></div>
            </a>
        </div>
    </div>
</div>
